.table {
    width: 100%;
}  
table, th, td {  
    border: 1px solid hotpink;  
    border-collapse: collapse;  
}  
th, td {  
    padding: 10px;  
}  

tr:nth-child(even) {  
    background-color: #eee;  
}  

tr:nth-child(odd) {  
    background-color: #fff;  
}  
th {  
    color: white;  
    background-color: gray;  
}

.btn-submit {
    border-radius: 10px;
    padding: 0 16px;
}