.user-content {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    padding: 1rem;
}

.user-name {
    display: flex;
    align-items: center;
}

.imageUrl {
    border-radius: 12px;
    color: rgb(59, 255, 59);
}